@import "components.css";

body {
    margin: 80px 0px 0px 300px;
    padding: 0px 0px;
    background-color:#F9F8FE;;
}

header {
    background-color: rgba(95, 37, 159, 1);
    width: 100vw ;
    padding: 20px 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0px;
    
}

header > div:first-child > div {
    width: 290px;
    margin-left: 75px !important;
    padding-left: 50px;
    border-left: 1.5px solid #8E37ED;
}

header > div:last-child > div:last-child  {
    padding-left: 50px;
    border-left: 1.5px solid #8E37ED;
}

.nav-btn {
    padding: 10px 10px;
    width: 189px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    align-items: center;
    background-color: white;
    border-style: none;
    cursor: pointer;
    border-radius: 10px;
    transition: 300ms;

}

.chev-box {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.nav-btn > .icon {
    filter: invert(76%) sepia(16%) saturate(7252%) hue-rotate(211deg) brightness(99%) contrast(98%);
    width: 24px;
    height: 24px;
    transition: 300ms;
}

nav {
    position: fixed;
    top: 80px;
    left: 0px;
    padding: 20px 50px;
    width: 277px;
    background-color: white;
    z-index: 1;
    height: 100vh;
}

nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}



.nav-btn:hover {
    background-color: var(--off-white);
    transition: 300ms;

}

.nav-btn:active, .nav-btn-active {
    width: 209px;
    background-color: var(--off-white);
    transition: 300ms;

}

.nav-btn-active > .icon {
    filter: invert(50%) sepia(97%) saturate(7498%) hue-rotate(264deg) brightness(100%) contrast(87%);
    width: 24px;
    height: 24px;
    transition: 300ms;
}

.nav-btn-active > span {
    color: var(--lilac-100);
    transition: 300ms;
}

.nav-btn-active > span {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    -moz-user-select: none;
    user-select: none; /* Standard syntax */
}

.mega-menu-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    gap: 20px;
    position: fixed;
    top: 80px;
    z-index: 0;
    left:-5vw;
    opacity: 100;
    transition: 1000ms;
    transition-timing-function: ease-out;
    height: 100vh;
    background-color: white;

}

.text-mega-menu {
    width: 148px;
    height: 27px;
    color: var(--dark-gray)
}

.grey-icon {
    filter: invert(60%) sepia(11%) saturate(327%) hue-rotate(208deg) brightness(97%) contrast(85%);
}

.mega-menu-side > div > div {
    width: 189px;
    height: 37px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.sub-menu {
    display: none;
    opacity: 0;
    transition: 300ms;
    border-radius: 10px;
}

.content-page {
    margin-top: 70px;
    margin-left: 250px;
    padding: 30px 50px 120px 66px;
    width: 80vw;

}

.input-search {
    color: var(--black-lilac) !important;
    background: #fff;
    border: 1.3px solid var(--gray-20);
    border-radius: 10px;
    outline: none;
    width: 420px;
    height: 50px;
    padding: 14px 20px;
    gap: 76px;

}

.input-field {
    width: 350px;
    background: var(--white);
    color: var(--dark-gray);
    border: none;
    outline: none;
}

.table-container {
    margin-top: 30px;
}

table {
    border-collapse: separate !important; 
    border-spacing: 0px 10px !important;
    width: 100%;
}

th, td {
    border: none !important;
    background-color: none;
}

td {
    padding: .5em !important;
    vertical-align: middle !important;

}

tr > td {
    background-color: #fff;
    height: 43px;
}


tr.spaceUnder>td {
    padding-bottom: 1em;
}

tr > td:first-child {
    border-radius: 10px 0px 0px 10px;
}

tr > td:last-child {
    border-radius: 0px 10px 10px 0px;
}

tbody > tr > td:nth-child(3) > p {
    width: 82px;
    background-color: var(--green-20);
    color: var(--dark-green);
    border-radius: 10px;
    text-align: center;
    margin: 0;
    padding: 6px;
}

tbody > tr > td:first-child {
    width: 50px;
    text-align: center;
}

.pagination > div:first-child  > img {
    filter: invert(99%) sepia(18%) saturate(3566%) hue-rotate(184deg) brightness(99%) contrast(97%);
    transform: rotate(180deg);
    cursor: pointer;
}

.pagination > div:last-child  > img {
    filter: invert(21%) sepia(85%) saturate(3443%) hue-rotate(262deg) brightness(97%) contrast(91%);
    cursor: pointer;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    padding: 30px 0px;
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 27px 30px;
    gap: 28px;
    background-color: #fff;
    border-radius: 10px;

}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../assets/ui/chevron-down.svg) !important;
    background-repeat: no-repeat !important;
    background-position: 95% center !important;
    background-color: var(--white) !important;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
    align-items: center;
    padding: 14px 20px !important;
    gap: 60px;
    color: var(--black-lilac) !important;

    width: 250px;
    height: 50px;

    /* Off White */

    /* Grey 20 */

    border: 1px solid #E7E4F2 !important;
    border-radius: 10px;
}

.input-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--white) !important;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: #342C53;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
    align-items: center;
    padding: 14px 20px !important;
    gap: 60px;

    width: 240px;
    height: 50px;

    /* Off White */

    /* Grey 20 */

    border: 1px solid #E7E4F2 !important;
    border-radius: 15px;
}

.input-select:focus {
    outline: var(--lilac-50);
}

.tracking-btn {
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #57D167;
    color: #fff !important;
    border-radius: 10px;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    transition: 300ms;
}

.tracking-btn:hover {
    background: var(--dark-green);
    transition: 300ms;
}

.tracking-btn:active {
    background: var(--dark-green);

    transition: 300ms;
}

.input-green {
    background: #E0FFE4 !important;
/* Green 50 */
    color: #342C53;
    border: 1px solid #91F29E !important;
    border-radius: 10px;
}

.carousel-indicators {
    gap: 10px;
}

.carousel-indicators > li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;


}

.datos-pers-box {
    align-self: center; width: 661px; height: 650px; background-color: #fff; padding: 72px 65px; border-radius: 80px;
}



[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid var(--lilac-20);
    border-radius: 100%;
    background: #fff;
    transition: all 0.2s ease;
    
}

 .form-radio-check {
    background-color: var(--off-white) !important;
}


[type="radio"]:hover + label:before {
    border: 2px solid var(--lilac-50);
    transition: all 0.2s ease;

}

[type="radio"]:hover + label:before {
    border: 2px solid var(--lilac-50);
    transition: all 0.2s ease;
    color: var(--lilac-50);

}

[type="radio"]:checked + label:before {
    background-color: var(--lilac-50);
    border: 2px solid var(--lilac-50);
    transition: all 0.2s ease;
}

[type="radio"]:checked + label {
    color: #8E37ED;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: var(--lilac-100);
    position: absolute;
    top: 25%;
    left: 4.9px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    
}

.search-dashboard {
    background-color: var(--off-white);
    outline: none;
    border: none;
}

.btn-search-dashboard {
    background: none;
    outline: none;
    border: none;
}

.dashboard-wrap {
    width: 413px;
    border: 1.5px solid var(--gray-20);
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
    border-radius: 30px;
}

.head-wrap {
    gap: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 37px;
    gap: 29px;
    background: var(--lilac-100);
    box-shadow: 0px 4px 20px #E3E1ED;
    border-radius: 30px;
    background-color: var(--lilac-100);
}